<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="db2-dubbo-consumer"/>

    <dubbo:registry id="zk_master" address="192.168.3.171:2181" protocol="zookeeper"/>

    <dubbo:consumer registry="zk_master"/>

    <dubbo:reference id="speakInterface" interface="com.db2.dubbo.service.SpeakInterface"/>

</beans>